<div class="sidebar">

    <div class="logo">

        <h3>

            CTCL

        </h3>

    </div>

    <ul class="nav flex-column mt-4">

        <li class="nav-item">

            <a
                href="/dashboard"
                class="nav-link">

                <i class="bi bi-speedometer2"></i>

                Dashboard

            </a>

        </li>

        <li class="nav-item">

            <a
                href="/search"
                class="nav-link">

                <i class="bi bi-search"></i>

                Search Records

            </a>

        </li>

        <li class="nav-item">

            <a
                href="/search"
                class="nav-link">

                <i class="bi bi-pencil-square"></i>

                Revision

            </a>

        </li>

        <li class="nav-item">

            <a
                href="/users"
                class="nav-link">

                <i class="bi bi-people"></i>

                User Management

            </a>

        </li>

        <li class="nav-item">

            <a href="/audit"
                class="nav-link">

                    <i class="bi bi-clock-history"></i>

                    Audit Logs

                </a>

        </li>

        <li class="nav-item">

            <a
                href="/reports"
                class="nav-link">

                <i class="bi bi-bar-chart"></i>

                Reports

            </a>

        </li>

    </ul>

</div>