{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">

    {% if success_message %}

    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">

        {{ success_message }}

        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close">
        </button>

    </div>

    {% endif %}


    {% if error_message %}

    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">

        {{ error_message }}

        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close">
        </button>

    </div>

    {% endif %}

    <div class="row">

        <div class="col-lg-12">

            <h3 class="mb-3">

                Search CTCL Records

            </h3>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            {% include "partials/search_form.html" %}

        </div>

    </div>

    <div class="row mt-4">

        <div class="col-lg-12">

            {% include "partials/latest_record.html" %}

        </div>

    </div>

    <div class="row mt-4">

        <div class="col-lg-12">

            {% include "partials/history_table.html" %}

        </div>

    </div>

</div>

{% endblock %}